

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: monserrat;
    color: #111;
    background-color: #ffffff;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.artist-content {
  display: flex;
  align-items: flex-start;
  gap: 150px;  
}

.artist-text p{
    border: 2px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: #F9ECD6;
}
/* Image sizing */
.artist-content img {
  max-width: 320px;
  height: auto;
}

/* Text block */
.artist-text {
  max-width: 500px;
  font-size: 20px;
  text-align: left;
  padding-top: 10px;
}

.artist-text a:hover{
    color:blue;
}

.section {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 20px;
}


hr{
    height:2px;
    border-width:0;
    color:#C4B497;
    background-color:#C4B497;
    width: 75%;
}

.shop-section{
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 20px;
}

.shop-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
  flex-wrap: wrap;        /* prevents overflow */
}

.shop-card img {
  width: 100%;
  max-width: 260px;
  height: auto;
  border: 4px solid #eee;
}

.shop-card h3,p {
  margin: 13px 8px;
  font-size: 20px;
  font-family: Lora;
}

.shop-card a:hover{
    color:blue;
}

.button-shop{
    font-family: monserrat;
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    height: 40px;
    margin-top: 20px;
    padding: 12px 17px;
    border-radius: 50px;
    background-color: #2222220d;
    color: #222;
    font-size: 16px;
    font-weight: bold;     
}


.about-david img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 4px solid #eee;
}
.about-david{
  display: flex;
  justify-content: center;
}
    
            
                

/* Navigation bar / Header */

.site-header {
    background-color:#cbbea8;
    border-bottom: 1px solid #ddd;
}

.nav-bar {
    max-width: 1080px;
    margin: 0 auto;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo a {
    font-style: oblique;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu a.active {
    font-weight: bold;
}

/*Footer*/

.site-footer {
    text-align: center;
    padding: 10px;
    background-color: #cbbea8;
    border-top: 1px solid #ddd;
  
}


@media (max-width: 480px) {
  .artist-content {
    flex-direction: column;
    gap: 20px;
  }

  .artist-content img {
    max-width: 100%;
  }
}